.center
{
  text-align: center;
}


.navbar-default.navbar-expand-sm.navbar-dark.bg-dark{
  margin-left: 160px; 
  padding: 8px 0px 5px 60px;
  font-family: 'Roboto', sans-serif;
}

.black-top-fill-rectangle{
  min-width: 100vh;
  height: 55px;
  background:black;
  font-family: 'Roboto', sans-serif;
}

.events-top-fill-rectangle{
  min-width: 100vh;
  height: 26px;
  background:grey;
  font-family: 'Roboto', sans-serif;
  
}

.black-left-fill-rectangle{
  width:144px;
  min-height: 100vh;
  margin-top: -45px;
  margin-left: -246px;
  float: left;
  background:black;
  font-family: 'Roboto', sans-serif;
}

.black-rotated-fill-rectangle{
  transform: rotate(140deg);
  float: left;
  margin-top: -40px;
  margin-left: -75px;
  width: 320px;
  height: 70px;
  background:black;
  
}
