html{

  font-size:14px;
  font-family: 'Roboto';
}

.center
{
  text-align: center;
}


.navbar-default.navbar-expand-sm.navbar-dark.bg-dark{
  margin-left: 160px; 
  padding: 6px 0px 5px 60px;

}

.black-top-fill-rectangle{
  min-width: 100vh;
  height: 55px;
  background:black;

}

.events-top-fill-rectangle{
  min-width: 100vh;
  height: 26px;
  background:grey;

  
}

.black-left-fill-rectangle{
  width:144px;
  min-height: 100vh;
  margin-top: -45px;
  margin-left: -246px;
  float: left;
  background:black;

}

.black-rotated-fill-rectangle{
  transform: rotate(140deg);
  float: left;
  margin-top: -120px;
  margin-left: 125px;
  width: 100px;
  height: 70px;
  background:black;
  
}


/*-------------------------Caroussel------------------------*/

div.container{
padding:0;
width: 100%;

}
.imgCarousel
{
  width: 100%;

}

.carousel-inner
{
  width:100%;
  height: 100%;

}
/*--------------Fin Caroussel --------------------*/