.center
{
  text-align: center;
}


.navbar-default.navbar-expand-sm.navbar-dark.bg-dark{
  margin-left: 180px; 
  padding: 4px 0px 10px 40px;
  font-family: 'Roboto', sans-serif;
}

.black-top-fill-rectangle{
  min-width: 100vh;
  height: 40px;
  background:black;
  font-family: 'Roboto', sans-serif;
}

.events-top-fill-rectangle{
  min-width: 100vh;
  height: 26px;
  background:grey;
  font-family: 'Roboto', sans-serif;
  
}

.black-left-fill-rectangle{
  width:144px;
  min-height: 100vh;
  margin-top: -26px;
  margin-left: -246px;
  float: left;
  background:black;
  font-family: 'Roboto', sans-serif;
}

.black-rotated-fill-rectangle{
  transform: rotate(140deg);
  float: left;
  margin-top: -42px;
  margin-left: 51px;
  width: 195px;
  height: 43px;
  background:black;
  
}

.dropdown
{
  background: black;
}


html
{
font-family: 'Roboto', sans-serif;
}
