.black-top-fill-rectangle{
  min-width: 100vh;
  height: 40px;
  background:black;
}

.events-top-fill-rectangle{
  min-width: 100vh;
  height: 26px;
  background:grey;
}

.black-left-fill-rectangle{
  width:144px;
  min-height: 100vh;
  margin-top: -26px;
  margin-left: -246px;
  float: left;
  background:black;
}

.black-rotated-fill-rectangle{
  transform: rotate(140deg);
  float: left;
  margin-top: -42px;
  margin-left: 96px;
  width: 150px;
  height: 43px;
  background:black;
}

